[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
